#alertManager {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
}
@media only screen and (max-width:600px){
    #alertManager{
        width: 90vw;
    }
}
@media only screen and (min-width:600px){
    #alertManager{
        width: 50vw;
    }
}
@media only screen and (min-width:1200px){
    #alertManager{
        width: 40vw;
    }
}

.fade{
    animation: fadeOutAnimation ease 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}